// simple fade in and stay animation for placeholder home page
@keyframes fadeInUp {
    from { 
      opacity: 0;
    }
  
    to {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }